<div class="row justify-content-md-center">
  <div class="">
    <h1>プロフィール編集</h1>
    <%= form_for(@user, url: users_mypage_path) do |f| %>

      <% if @user.errors.any? %>
        <%= @user.errors.count %>件のエラーが発生しました
        <br>
        <% @user.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      <% end %>

      <div class="">
        <%= f.label :画像を選んでね！ %><br />
        <%= f.attachment_field :image, placeholder: "プロフィール画像", class: "user-edit-form" %>
      </div><br />
      <div class="form-group">
        <%= f.label :name %><br />
        <%= f.text_field :name, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label :address %><br />
        <%= f.text_field :address, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label :profile %><br />
        <%= f.text_field :profile, class: "form-control" %>
      </div>
      <div class="action">
        <br />
        <%= f.submit "更新する", class: "btn btn-outline-info btn-lg rounded-pill btn-block" %>
      </div>
    <% end %>
  </div>
</div>
