<h2 class="title">Mypage</h2>
<div class="row justify-content-md-center">
  <div class="col-md-2">
    <%= attachment_image_tag @user, :image, :fill,200,200, format:"jpeg", class:"", fallback:"no_image.jpeg", :size => "200x200" %>
  </div>
    <div class="col-md-8">
      <table class="table">
        <tr>
          <th>名前&nbsp;：</th><td><%= @user.name %></td>
        </tr>
        <tr>
          <th>アドレス&nbsp;：</th><td><%= @user.address %></td>
        </tr>
        <tr>
          <th>プロフィール&nbsp;：</th><td><%= @user.profile %></td>
        </tr>
      </table>
    </div>
  <div class="col-md-2">
    <%= link_to "編集", edit_users_mypage_path, class: "btn btn-primary btn-lg rounded-pill btn-block"  %>
    <%= link_to "大事な編集", edit_user_registration_path, class: "btn btn-primary btn-lg rounded-pill btn-block"  %>
    <%= link_to "退会する", user_registration_path(id: current_user.id), method: :delete, "data-confirm" => "本当に退会しますか？", class: "btn btn-danger btn-lg rounded-pill btn-block" %>
  </div>
</div>

&nbsp;
<div class="row justify-content-md-center">
  <div class="col-md-3">
    <%= link_to "投稿した記事", users_mypage_path , class: "btn btn-primary btn-lg rounded-pill btn-block"  %>
  </div>
  <div class="col-md-3">
    <%= link_to "いいねした記事", users_mypage_like_path , class: "btn btn-primary btn-lg rounded-pill btn-block"  %>
  </div>
  <div class="col-md-3">
    <%= link_to "検索する", users_search_path(current_user.id) , class: "btn btn-primary btn-lg rounded-pill btn-block"  %>
  </div>
  <div class="col-md-3">
    <%= link_to "記事を投稿する", new_users_article_path , class: "btn btn-primary btn-lg rounded-pill btn-block"  %>
  </div>
</div>

  <div class="row">
    <% @articles.each do |article| %>
    <div class="col-sm-6 col-md-3">
      <div class="card img-thumbnail">
        <%= attachment_image_tag article, :article_image, :fill,320,250, format:"jpeg", class:"card-image-top", fallback:"no_image.jpeg", :size => "320x250" %>
        <div class="card-body px-2 py-3">
          <h5 class="card-title"><%= link_to article.spa_name, users_article_path(article.id) %></h5>
          <p class="card-text">作成者：<%= link_to article.user.name, users_mypage_path(article.user.id) %></p>
          <p class="card-text"><%= (article.impression).truncate(60) %></p>
          <p>いいね：&nbsp;<%= article.likes_count %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
