<div style="text-align:center; margin:auto;"><h2>Mypage</h2></div>
<div class="row justify-content-md-center">
  <div class="col-md-2">
    <%= attachment_image_tag @user, :image, :fill,200,200, format:"jpeg", class:"", fallback:"no_image.jpeg", :size => "200x200" %>
  </div>
  <div class="col-md-8">
    <table class="table">
      <tr>
        <th>名前&nbsp;:</th><td><%= @user.name %></td>
      </tr>
      <tr>
        <th>アドレス&nbsp;:</th><td><%= @user.address %></td>
      </tr>
      <tr>
        <th>プロフィール&nbsp;:</th><td><%= @user.profile %></td>
      </tr>
    </table>
  </div>
  <div class="col-md-2">
    <%= link_to "編集", edit_users_mypage_path, class: "btn btn-primary btn-lg rounded-pill btn-block"  %>
    <%= link_to "編集", edit_user_registration_path, class: "btn btn-primary btn-lg rounded-pill btn-block"  %>
    <%= link_to "退会する", user_registration_path(id: current_user.id), method: :delete, "data-confirm" => "本当に退会しますか？", class: "btn btn-danger btn-lg rounded-pill btn-block" %>
  </div>
</div>

&nbsp;
<div class="row justify-content-md-center">
  <div class="col-md-3">
    <%= link_to "投稿した記事", "#", class: "btn btn-primary btn-lg rounded-pill btn-block"  %>
  </div>
  <div class="col-md-3">
    <%= link_to "いいねした記事", users_mypage_like_path , class: "btn btn-primary btn-lg rounded-pill btn-block"  %>
  </div>
  <div class="col-md-3">
    <%= link_to "検索する", "#", class: "btn btn-primary btn-lg rounded-pill btn-block"  %>
  </div>
  <div class="col-md-3">
    <%= link_to "記事を投稿する", new_users_article_path , class: "btn btn-primary btn-lg rounded-pill btn-block"  %>
  </div>
</div>

<div class="row">
  <div class="article-list jscroll">
    <% @like_articles.each do |like_article| %>
      <div class="float_item">
        <%= attachment_image_tag like_article.article, :article_image, :fill,200,200, format:"jpeg", class:"", fallback:"no_image.jpeg", :size => "200x200" %><br />
        名前：&nbsp;<%= link_to like_article.article.spa_name, users_article_path(like_article.id) %><br/>
        書き手：&nbsp;<%= like_article.article.user.name %><br/>
        いいね：&nbsp;<%= like_article.article.likes_count %>
      </div>
    <% end %>
    <%= paginate @like_articles %>
  </div>
</div>


<div class="row justify-content-md-center">
  <div class="">
    <div class="">

    </div>
  </div>
</div>
