<div style="text-align:center;"><h2>ようこそスパプロへ</h2></div>
<div class="row">
  温泉いいねランキング
  <% @like_ranking.each.with_index(1) do |article,i| %>
    <div class="float_item">
      <%= i %>
      <%= article.spa_name %><br/>
      <%= attachment_image_tag article, :article_image, :fill,200,200, format:"jpeg", class:"", fallback:"no_image.jpeg", :size => "200x200" %><br />
      名前：&nbsp;<%= link_to article.spa_name, users_article_path(article.id) %><br/>
      いいね：&nbsp;<%= article.likes_count %>
    </div>
  <% end %>
</div>

<br/>
<div class="row">
  オススメの温泉
  <% @recommendations.each do |article| %>
    <div class="float_item">
      <%= article.spa_name %><br/>
      <%= attachment_image_tag article, :article_image, :fill,200,200, format:"jpeg", class:"", fallback:"no_image.jpeg", :size => "200x200" %><br />
      名前：&nbsp;<%= link_to article.spa_name, users_article_path(article.id) %><br/>
      いいね：&nbsp;<%= article.likes_count %>
    </div>
  <% end %>
</div>
<br/>

<div class="row">
  <div class="article-list jscroll">
    <% @articles.each do |article| %>
      <div class="float_item">
        <%= attachment_image_tag article, :article_image, :fill,200,200, format:"jpeg", class:"", fallback:"no_image.jpeg", :size => "200x200" %><br />
        名前：&nbsp;<%= link_to article.spa_name, users_article_path(article.id) %><br/>
        書き手：&nbsp;<%= article.user.name %><br/>
        いいね：&nbsp;<%= article.likes_count %>
      </div>
    <% end %>
    <%= paginate @articles %>
  </div>
</div>
