<!DOCTYPE html>
<html>
  <head>
    <title>SpaProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="">
  <ul>
    <li><%= link_to "HOME", root_path %></li>
    <% if user_signed_in? %>
    <li><%= link_to "MYPAGE", users_mypage_path(current_user.id) %></li>
    <li></li>
    <li><%= link_to "LOGOUT", destroy_user_session_path, method: :delete, "data-confirm" => "本当にログアウトしますか？" %></li>
    <% else %>
    <li><%= link_to "ABOUT", "#" %></li>
    <li><%= link_to "LOGIN", new_user_session_path %></li>
    <li><%= link_to "SIGNUP", new_user_registration_path %></li>
    <% end %>
  </ul>
  </div>

  <body>
    <%= yield %>
  </body>
</html>
